<div class="col-md-4">
	<div class="fh5co-person text-center to-animate">
		<figure><img src="{{content.field_project_image.0}}" alt="Image"></figure>
		<h3>{{content.field_name}}</h3>
		<span class="fh5co-position">{{content.field_position}}</span>
		<p>{{content.field_description}}</p>
		<ul class="social social-circle">
			<li><a href="{{content.field_twitter.0}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
			<li><a href="{{content.field_facebook.0}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			<li><a href="{{content.field_google_plus.0}}"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>